{% extends 'layout.html' %}

{% block title %}Página de login {% endblock %}

{% block content %}
    <div class="container">
        <h3>Login</h3>
        <form action="/login/" method="POST">
            {% csrf_token %}
            {% if message %}
            <div class="form-gourp">
                <p class="text-danger">{{ message }}</p>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="username">E-mail</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Entre com o e-mail">
            </div>
            <div class="form-group">
                <label for="username">Senha</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Entre com o a senha">
            </div>
            <button class="btn btn-primary">Entrar</button>
        </form>
    </div>
{% endblock %}